<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Student_ID %><br />
    <%= f.number_field :Student_ID %>
  </div>
  <div class="field">
    <%= f.label :Student_Name %><br />
    <%= f.text_field :Student_Name %>
  </div>
  <div class="field">
    <%= f.label :Email_Address %><br />
    <%= f.text_field :Email_Address %>
  </div>
  <div class="field">
    <%= f.label :Major %><br />
    <%= f.text_field :Major %>
  </div>
  <div class="field">
    <%= f.label :Class %><br />
    <%= f.text_field :Class %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
